**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/node_modules
**/*.md
**/*.log
**/Dockerfile
**/docker-compose*.yml
**/.dockerignore
**/README.md
**/appsettings.Development.json
**/*.user
**/*.suo
.vscode
.idea